<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Заголовок</h1>
    <div>Ваш логин: {{name}}</div>
    <div>Ваш пароль: {{password}}</div>
    <div>Ваш Email: {{email}}</div>
  </body>
</html>